$btn-color: #23d3d1;

.formWrapper {
  display: flex;
  flex-direction: column;
  width: 500px;

  .textInputWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .btn {
    width: 100%;
    padding: 20px;
    margin-top: 15px;
    border: 1px solid $btn-color;
    border-radius: 5px;
    font-size: 1rem;
    background-color: $btn-color;
    color: white;
    cursor: pointer;
  }
}
