.container {
  display: flex;

  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  
  background-color: #b07fec;
  color: white;

  font-size: 1rem;
  font-weight: bold;

  .headingToDo {
    margin: 0 auto;
  }
  
}

